.second-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #c4ecd5;
}

.second-logo {
  height: 10vh;
}

.second-footer p {
  margin: 0;
  padding: 0;
  line-height: 50px;
  display: flex;
  align-items: center;
}